@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Roboto:wght@300&family=Rubik:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Rubik', sans-serif;
}   

.navlighcolor{
    color: #A49A93 !important;
    background-color: #fff;
}
.navlighcolor:hover{
    color: #E42329 !important;
}

.carousel-item img {
    height: 80vh;
    width: 100%;
}

/* shopbycategory css */
.shopcat h1 {
    text-transform: uppercase;
    text-align: center;
    margin: 50px 20px;
    font-weight: 700;
    font-size: 30px;
}

.shopcat span {
    color: #808080;
}

.shopcaticon {
    padding: 10px;
}

.shopcaticon svg {
    width: 50px;
}

.shopcaticon p {
  
    font-weight: 900;
    margin-top: 15px;
    font-size: 15px; 
}


.funda {
    margin: 35px;
}

.navbar-brand {
    color: #E53035 !important;
    font-size: 51px;
    font-weight: 600;
}

/* serchnoxcss */
.serchbox {
    margin: 50px 20px;
}

.serchbox .input-group input[type=text] {
    height: 40px;
    padding: 5px;
    font-size: 17px;
    border-radius: 0px;
    border: 1px solid #E42329;
    border-right: 1px solid #ffff !important;
    float: left;
    width: 80%;
}

.input-group-append button {
    float: left;
    width: 25%;
    height: 40px;
    border-radius: 0px;
    color: #9A9A9A;
    border: 1px solid #E42329;
    border-left: 1px solid #ffff !important;
    cursor: pointer;
    padding: 15px 25px;
    line-height: 15px;
}


.firstiocn {
    margin: 55px;
    /* padding-left: 60px; */
    display: flex;
    justify-content: center;
}

.firstiocn div {
    margin: 0px 20px;
    font-size: 20px;
}
.count{
    position: relative;
}
.count1{
    position: absolute;
    top: -10px;
    width: 20px;
    height: 20px;
    background-color: #E42329;
    border-radius: 50%;
    padding: 4px 6px;
    color: #ffff;
    font-size: 13px;
    font-weight: bold;
}


/* secondnavabr css */
.secondnav{
    width: 95%;
    font-size: 15px;
    font-weight: 700;
    margin: auto;
    margin-top: -40px;
 }

.dropdown a{
    font-size: 14px;
    font-weight: bold;          
    color: #000; 
    /* margin-top: -40px; */
} 
.dropdown a:hover{
    color: #E42329;
    background-color: #fff;
}
.dropdown li{
    padding: 5px 0px;
}

/* televsioncssdiv */
.televiosndiv{
    width:95vw;
    padding: 20px;
    transform: translateX(-2%);
    margin: 0px 10px;
}
.smallapll{
    width: 940%;
    transform: translate(-77%);
    padding: 20px;
}
.gadgets{
    width: 95vw;
    transform: translate(-62%);
    padding: 20px;
}
.applin{
    width: 95vw;
    transform: translateX(-12vw);
    padding: 20px;
}

.groom{
    width: 130%;
}

#bttop{
display: none;
position: fixed;
bottom: 20px;
right: 34px;
font-size: 20px;
background-color: #E53035;
color: white;
cursor: pointer;
padding: 5px;
width: 40px;
height: 40px;
text-align: center;
}

#bttop:hover {
color: white;
background-color: #f00a11 !important;
}
.what{
position: fixed;
bottom: 70px;
right: 25px;
height: 60px;
width: 60px;
background-color: #09AE56;
border-radius: 50%;
padding: 10px;
z-index: 1;
}

@media only screen and (min-width: 781px) and (max-width: 1200px) {
    /* second navabarcss */
    

    .navbar-brand {
    font-size: 40px !important;
    }
    /* topiconcsss */
    .firstiocn {
        padding-left: 0px !important;
    }

    .firstiocn div {
        margin: 0px 15px !important;
        font-size: 20px;
    }

    /* serchnoxcss */
    .serchbox {
        margin: 50px 0px !important;
        font-size: 20px;
    }

    .serchbox  input[type=text] {
        height: 32px !important;
    width: 55% !important;
    margin: 0px 50px;
    }

    .input-group-append button{
    width: 40% !important;
    height: 25px !important;
    padding-top: -50px !important;
    /* padding: 15px; */
    margin-left: -53px !important;
    }
    
}

/* Medium screens */
@media only screen and (min-width: 421px) and (max-width: 780px) {

    /* carousel css */
    .carousel-item img {
        height: 45vh;
        width: 100%;
    }
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        width: 1.5rem;
        height: 1.5rem;
    }

    /* shopbycategory css */
    .shopcaticon {
        padding: 10px 40px;
    }
    .shopcaticon p {
        font-size: 12px;
    }
    .shopcaticon svg {
        width: 40px;
    }

    /* serchnoxcss */
    /* .serchbox {
        margin: 50px 30px !important;
    } */
    
     /* fundacss */
     .funda {
        margin: 50px 10px !important;
    }

    .navbar-brand {
        font-size: 25px !important;
    }

    /* topiconcsss */
    .firstiocn {
        padding-left: 0px !important;
    }

    .firstiocn div {
        margin: 0px 5px !important;
        font-size: 20px;
    }
    .fa-heart {
        display: none;
    }

    /* serchnoxcss */
    .serchbox {
        margin: 50px 0px !important;
        font-size: 20px;
    }

    .serchbox input[type=text] {
        display: none;
    }

    .input-group-append button {
        border: none !important;
    }

}

/* small screens */
@media only screen and (min-width: 70px) and (max-width: 420px) {

    /* carousel css */
    .carousel-item img {
        height: 25vh;
        width: 100%;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        width: 1rem;
        height: 1rem;
    }

    /* shopbycategory css */
    .shopcaticon p {
        font-size: 12px;
    }

    .shopcaticon svg {
        width: 40px;
    }

    /* fundacss */
    .funda {
        margin: 50px 10px !important;
    }

    .navbar-brand {
        font-size: 25px !important;
    }

    /* topiconcsss */

    .firstiocn div {
        margin: 0px 5px !important;
        font-size: 20px;
    }
    .fa-heart {
        display: none;
    }

    /* serchnoxcss */
    .serchbox {
        margin: 50px 0px !important;
        font-size: 20px;
    }

    .serchbox input[type=text] {
        display: none;
    }

    .input-group-append button {
        border: none !important;
    }


}

/* ankit code start */
.footone{
    background-color:  #E42329;
}
.footrs i{
    height: 70px;
    width: 70px;
    border: 2px solid white;
    color: white;
    text-align: center;
    padding:15px;
    font-size: 40px;
}
.footrs p{
    color: white;
    font-size: 18px;
    margin-top: 20px;
    font-weight: 700;
}
.footfund1{
    background-color: #000;
}
.footfund h1{
    color: red;
    font-size: 80px;
    float: left;
    padding-left: 30px;
}
.footfund3 {
    text-align:right;
    color: gray;
}
.footfund3 ul{
    list-style: none;
    margin-top: 50px;
}
.footfund3 ul li{
    display: inline-block;
    margin-left: 20px;
}
.footfund3 ul li:hover{
    color: #E53035;
}
.footfund4 ul{
    list-style: none;
    display: flex;
flex-direction: row;
justify-content: space-between;
flex-wrap: wrap;
}
.footfund4 ul li{
display: inline-block;
margin-top: 30px;
}
.footfund4 ul li a{
    text-decoration: none;
    color: grey;
}
.footfund4 ul li a:hover{
    color: #E42329 !important;
}

.footfund5 p{
    font-size: 14px;
    color: #ffff;    
    margin: 25px 60px;
    font-weight: 700;
}
.footfund5 span{
    color: #f00a11;
    font-weight: 600;
}
.footfund6 p{ 
    font-size: 14px;
    text-align: right;
    color: #ffff;    
    margin: 25px 60px;
    font-weight: 700;
}
.footfund6 span{
    color: #f00a11;
    font-weight: 600;
}
/* ankit code end */


/* checkout page csss */
.coupon {
    display: flex;
    margin: auto;
    border: 3px dashed rgb(170, 170, 170);
    border-radius: 10px;
}
.formsss input{
    border: none;
    border-bottom: 1px solid grey;
}
.formsss label{
    font-weight: 600;
}
.teextarea{
    border: none;
    border-bottom: 1px solid gray;
}
/* checkout page css :end */


/* index box css */
#containershu{
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: auto;
     display: grid;
     gap: 50px;
     height: 50%;
     width: 95%;
    margin: auto;
    
    
    }
    
    
    #containershu>div{
    
        border: 1px solid red;
        box-shadow: rgba(49, 38, 38, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
        box-shadow: #9A9A9A;
        } 
    #containershu>div>div{
    border: 1px solid red;
    height: 20px;
    width: 45px;
    color: white;
    background-color: #E42329;
    }  
    #H3{
        font-family: 'Rubik', sans-serif;
        font-size: 21px;
        /* color: red; */
        font-weight: bold !important;
       margin-top: 6px;
    margin-left: 27px;
    font-weight: 500;
    line-height: 23px;
       }
    
        
       #img-shukla{
         width: 70%;
        }
    
     #H4{
         /* background-color:#F6F6F6; */
         font-family: Rubik, sans-serif;
         font-size: 15px;
         color: #000;
         text-align: center;
         line-height: 18px;
         font-weight: 500;
         font-style: normal;
         }
    
         #img-hr{
            position: relative;
        
            border: none;
            height: 1px;
            background: red;
         }
     #H4:hover{
         color: #E42329;
     }
     #H2{
         text-align: center;
         font-family: 'Rubik', sans-serif;
         font-size: 16px;
    
     }
     #Hr1{
         width: 100px;
         margin-left: 6px;
         height: 3px;
         /* border: 2px solid #B60D0D; */
         color: #000000e5;
     }
     .main{
         display: flex;
         justify-content: space-between;
         /* margin-top: 100px; */
    
     }
     #circle1{
        height: 40px;
        width: 3%;
        line-height: 40px;
        border: 1px solid red;
        border-radius: 50%;
        margin-right: 45px;
        margin-top: 12px;
        position: relative;
        left: 838px;
    
     }
     #circle2{
        height: 40px;
        width: 3%;
        line-height: 40px;
        border: 1px solid red;
        border-radius: 50%;
        margin-top: 12px;
        margin-right: 43px;
     }
     #p{
        margin-left: 808px;
        border: none;
        margin-top: 20px;
     }
     #space{
         height: 10%;
     }
     #container1shu{
     grid-template-columns: repeat(5,1fr);
     grid-template-rows: auto;
     display: grid;
     gap: 50px;
     height: 50%;
     width: 95%;
     margin: auto;
     }
     #container1shu>div{
         border: 1px solid #E42329;
     }
     #container1shu>div>div{
         border: 1px solid red;
    height: 20px;
    width: 45px;
    color: white;
    background-color: #E42329;
     }
     #shukla-cart{
         height: 50px;
         width: 50px;
         border:1px solid #E42329;
         margin-left: 150px;
         margin-bottom: 15px;
         
     }
     #container_shivam{
        display: grid;
        width: 100%;
        height: 550px;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: auto;
        background-color: rgb(182, 13, 13);
        margin:auto;
        margin-top: 110px;
    
    }
    #innerDiv{
      margin-left:30px;
      margin-top: 30px;
      margin-right: 30px;
      margin-bottom: 30px;
    
    }
    #innerDiv >img{
        width: 100%;
        height: 100%;
    }
    #innerDiv > img:hover{
        cursor: pointer;
        outline: 1px solid white;
       transition: 0.35s ease;
      outline-offset: -20px;
    }
    /* ankit mishra css part startd************************************************************************ */
    
    #main_shivam{
        display: grid;
        /* border: 1px solid red; */
        width: 90%;
        height: 450px;
        margin-left: 100px;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        margin-top: 100px;
        grid-template-areas: 
        "a d b"
        "c d b";
    }
    .d1{
        grid-area: a;
        width: 320px;
    }
    .d2{
        grid-area: b;
        width: 320px;
    }
    .d3{
        grid-area: c;
        width: 320px;
    }
    .d4{
        grid-area: d;
        width: 420px;
    }
    #myimg{
        width: 100%;
        justify-content: center;
    }
    #myimg > div{
        justify-content: center;
    }
    .d4 >#myimg{
        height: 455px;
    }
    #myimg:hover{
        outline: 1px solid white;
        outline-offset: -20px;
        cursor: pointer;
    }
    .n {
        position: absolute;
        top: 42%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        background-color: rgb(253, 245, 245);
        color: rgb(20, 18, 18);
        font-size: 30px;
        /* padding: 12px 24px; */
        border: none;
        cursor: pointer;
        border-radius: 50%;
        text-align: center;
        height: 25px;
        width: 0px;
        margin-bottom: 50px;
        border: 8px solid rgb(184, 177, 177);
        padding-right: 50px;
        padding-top: 20px;
        padding-bottom: 23px;
        padding-left: 32px;
    }
    .n:hover{
      color:red;
      border:6px solid rgb(241, 87, 87);
      background-color: none;
    }
    
    
    
    
    
    
    
    
    
    
    
    /* jhulan code start now **************************************************************** */
    
    #containerj{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows:(2,100px);
        justify-content:space-between;
        /* padding: 100px 100px 100px 100px; */
        /* margin-bottom: -130px; */
        height: 100%;
        width: 100%;
        gap: 10px;
        margin-top: 61px;
        margin-left: 20px;
         
    }
    .c-box{
        height: 370px;
        width: 500px;
        margin-right: 10px;
    }
    .f-box{
        height: 390px;
        width: 347px;
        margin-left: 41px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    
    }
    .m-box{
        height: 390px;
        width: 300px;
        background-color: #272B2E;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    
    
    }
    .c-box:hover{
        outline: 2px solid white;
        outline-offset: -20px;
        background-color: #272B2E;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    
    }
    .m-box:hover{
        outline: 2px solid white;
        outline-offset: -20px;
        background-color: #272B2E;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
        
    
    }
    .f-box:hover{
        outline: 2px solid white;
        outline-offset: -20px;
        background-color: #272B2E;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    }